In [2]:
import pandas as pd

In [13]:
frame = pd.DataFrame({'Name': ['Михаил Зайцев', 'Максим Королёв'], 'Birth': [pd.to_datetime('22.04.1976'), pd.to_datetime('08.12.1993')]})

In [14]:
frame

             Name      Birth
0   Михаил Зайцев 1976-04-22
1  Максим Королёв 1993-08-12

In [15]:
frame.Birth.apply(pd.to_datetime)

0   1976-04-22
1   1993-08-12
Name: Birth, dtype: datetime64[ns]

In [23]:
frame['IsStudent'] = False, True

In [24]:
frame

             Name      Birth  IsStudent
0   Михаил Зайцев 1976-04-22      False
1  Максим Королёв 1993-08-12       True